body {
    background-color: #100e24;
}

h1 {
    color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: antiquewhite;
}

li {
    color: antiquewhite;
}

span {
    color: antiquewhite;
}

.Form {
    color: antiquewhite;
}